.profile-dropdown{
    position: absolute;
    top:50px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
.profile-dropdown a{
    text-decoration: none;
    color: black;
}
.profile-dropdown a:hover{
    color: #4ade80;
}
.profile-dropdown .profile-dropdown-item{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-dropdown .profile-dropdown-item:hover{
    background-color: #f1f3f4;
}
.profile-dropdown .profile-dropdown-item .profile-dropdown-item-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.profile-dropdown .profile-dropdown-item .profile-dropdown-item-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.profile-dropdown .profile-dropdown-item .profile-dropdown-item-text{
    font-size: 14px;
    font-weight: 500;
}
.profile-dropdown .profile-dropdown-item .profile-dropdown-item-text:hover{
    color: #1a73e8;
}
.profile-dropdown .profile-dropdown-item .profile-dropdown-item-text:hover .profile-dropdown-item-icon img{
    filter: invert(40%) sepia(100%) saturate(1000%) hue-rotate(180deg);
}
.profile-dropdown .profile-dropdown-item .profile-dropdown-item-text:hover .profile-dropdown-item-icon{
    filter: invert(40%) sepia(100%) saturate(1000%) hue-rotate(180deg);
}

